<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
</head>
<body>
<div>
    <form action = "{{ url_for("uploader") }}" method = "POST" enctype = "multipart/form-data">
        <input type="text" name="name" placeholder="Name"> <br> <br>
        <input type="text" name="mobile" placeholder="Mobile"> <br> <br>
        <input type="text" name="email" placeholder="Email id"> <br> <br>
        <input type = "file" name = "file" />
        <input type = "submit" value="Submit">
    </form>
</div>
<br>
<h2><a href="{{ url_for("uploader")}}">Details</a></h2>
</body>
</html>