<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>h2,h5 { text-align: center}</style>
</head>
<body>
<h2>Enter Student Details</h2>
<form method="POST">
    <table align="center">
        <tr>
            <td><input type="text" name='student_id' placeholder="Student id" required></td>
        </tr>
        <tr>
            <td><input type="text" name='Name' placeholder="Student Name" required></td>
        </tr>
        <tr>
            <td><input type="text" name='Fee Details' placeholder="Fee Details" required></td>
        </tr>
        <tr>
            <td><input type="number" name='marks' placeholder="Marks" required></td>
        </tr>
        <tr>
            <td><input type="text" name='location' placeholder="Location" required></td>
        </tr>
        <tr>
            <td><input type="number" name='mobile' placeholder="Mobile Number" required></td>
        </tr>
        <td><input type="submit"></td>
        <td style="color: green" align="left">{{ result1 }}</td>
    </table>
</form>

<h5><a href="{{ url_for('home') }}">Student Details</a></h5>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
















